﻿@model Test1WebApplication.Models.UserForDisplay
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <p>You authentication status by auth service is @Model.IsAuthenticatedFromAuthService and your name is @Model.NameFromAuthService.</p>

    @if (!string.IsNullOrEmpty(Model.InfoFromWcfService))
    {
        <p>WCF service sent to you next info: "@Model.InfoFromWcfService".</p>
    }
    else
    {
        <p>You haven't yet gone to the WCF service or it return empty info.</p>
    }

    <input type="button" value="Go WCF service" onclick="location.href='@Url.Action("GoToWcfService", "Home")'" />
</div>